name: Test

on:
  push:
    branches: [ "dev", "main" ]
  pull_request:
    branches: [ "dev", "main" ]
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always
  JWT_SECRET: ${{ secrets.JWT_SECRET }}
  PUBLIC_VAPID_PUBLIC_KEY: ${{ secrets.PUBLIC_VAPID_PUBLIC_KEY }}
  VAPID_PRIVATE_KEY: ${{ secrets.VAPID_PRIVATE_KEY }}

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: tailscale/github-action@v4
        with:
          authkey: ${{ secrets.TS_AUTH_KEY }}
          statedir: /tmp/tailscale-state/
          tags: tag:ci

      - name: Install Nix
        uses: cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=channel:nixos-unstable
          github_access_token: ${{ secrets.GH_TOKEN }}

      - name: Setup Nix Cache
        uses: DeterminateSystems/magic-nix-cache-action@main
        with:
          diagnostic-endpoint: ""
          use-flakehub: false

      - name: Cache Cargo registry and build outputs
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-cargo-

      - name: Setup Devenv
        run: nix develop --no-pure-eval --command devenv up -D

      - name: Build
        run: nix develop --no-pure-eval --command cargo build

      - name: Test
        run: nix develop --no-pure-eval --command cargo test
